*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  background-color: white;
  height: 100vh;
}

a {
  text-decoration: none;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 101;
}
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  width: 100%;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  height: 3px;
  content: "";
  background-color: black;
  transition: width 0.3s;
}
.burger-btn__bars {
  width: 100%;
}
.burger-btn__bars::after {
  top: 13px;
  width: 60%;
}
.burger-btn__bars::before {
  top: 27px;
  width: 30%;
  transition-delay: 0.1s;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background: #dcc1ab;
  z-index: 100;
}
.nav--active {
  transform: translateX(0);
}
.nav__item {
  position: relative;
  display: block;
  color: black;
  margin: 0.5em 2em;
  padding: 0.5em 0;
  font-size: 2.8em;
}
.nav__item-menu:hover {
  background-color: #c7ae9a;
}
.nav__item::before {
  position: absolute;
  top: 0;
  left: -20px;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  transition: transform 0.3s;
  content: "";
}
.nav__item:hover::before {
  transform: scaleY(1);
}
.nav .button-magnifying {
  background: none;
  border: none;
}
.nav .nav__item2 {
  position: relative;
  display: block;
  color: black;
  margin: 0 2em;
  padding: 0 0;
  font-size: 2.8em;
  text-decoration: none;
}
.nav .nav__item2-menu:hover {
  background-color: #c7ae9a;
}
.nav .nav__item2::before {
  position: absolute;
  top: 0;
  left: -20px;
  width: 3px;
  height: 100%;
  transform: scaleY(0);
  transition: transform 0.3s;
  content: "";
}
.nav .nav__item2:hover::before {
  transform: scaleY(1);
}
.nav .menu {
  display: inline-block;
  cursor: pointer;
}
.nav .menu__dropdown-list {
  display: none;
  opacity: 0;
  color: black;
  transition: color 0.3s;
  padding: 0.2em;
}
.nav .menu__dropdown-list:hover, .nav .menu__dropdown-list:active {
  color: white;
  display: block;
}
.nav .menu:hover .menu__dropdown-list {
  display: block;
  animation: menu 0.5s forwards;
}
.nav .menu:hover .menu__dropdown-list:nth-child(2) {
  animation-delay: 0.2s;
}
.nav .menu:hover .menu__dropdown-list:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes menu {
  from {
    opacity: 0;
    transform: rotate(36deg);
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}
@keyframes navItemsAnimation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
.nav-items-animation {
  animation: navItemsAnimation 1s both;
}

.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
  background-color: black;
}

.header {
  height: 100vh;
  width: 100%;
  background-color: #dcc1ab;
}
.header__top {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 3em;
}
.header__top-container--title {
  font-size: 3em;
  margin-bottom: 0.4em;
}
.header__top-container--description {
  font-size: 1em;
}
.header__top-button {
  width: 100%;
  margin-top: 2em;
}
.header__top-button--green {
  margin-right: 1.5em;
  padding: 6px 12px 7px 12px;
  border-radius: 200px;
  border: none;
  background-color: #1b5b31;
  color: white;
}
.header__top-button--white {
  padding: 6px 12px 7px 12px;
  border-radius: 200px;
  border: 1px solid #1b5b31;
  background-color: rgba(27, 91, 49, 0);
  color: #1b5b31;
}
.header__bottom {
  height: 50vh;
  width: 100%;
  background-image: url("../assets/garden.jpg");
  background-size: cover;
}
.header__bottom-container {
  width: 100%;
  height: 100%;
}
.header__bottom-container--button {
  padding: 2.2em;
  border: none;
}

.header__bottom-container2 {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.offer {
  width: 100%;
  height: 100%;
}
.offer__top {
  display: flex;
  flex-direction: column;
}
.offer__top-offer {
  color: #1b5b31;
}
.offer__bottom-box--link {
  color: #1b5b31;
}

.aboutus {
  height: 100vh;
  width: 100%;
  background-color: #1b5b31;
  color: #ffffff;
}
.aboutus__top {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 3em;
}
.aboutus__top-container--title {
  font-size: 3em;
  margin-bottom: 0.4em;
}
.aboutus__top-container--description {
  font-size: 1em;
}
.aboutus__top-button {
  width: 100%;
  margin-top: 2em;
}
.aboutus__top-button--white {
  padding: 6px 12px 7px 12px;
  border-radius: 200px;
  border: 1px solid #ffffff;
  background-color: rgba(27, 91, 49, 0);
  color: #ffffff;
}
.aboutus__bottom {
  height: 50vh;
  width: 100%;
  background-image: url("../assets/china_small.jpg");
  background-size: cover;
  background-position: center;
}
.aboutus__bottom-container {
  width: 100%;
  height: 100%;
}

.grid-item {
  width: 200px;
}

.grid-item--width2 {
  width: 400px;
}

.banner {
  background-color: #1b5b31;
  color: #ffffff;
  margin: 0 2em;
}
.banner__top {
  padding: 0 3em;
}
.banner__top-button--white {
  padding: 6px 12px 7px 12px;
  border-radius: 200px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #1b5b31;
}
.banner__bottom {
  background-image: url("../assets/china_small.jpg");
}

.footer {
  background-color: #111111;
  color: #ffffff;
}
.footer__top {
  padding: 0 0em 3em 0em;
  margin: 0 3em;
}
.footer__top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer__top-container--title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__top-container--description {
  font-size: 1em;
}
.footer__top-button--green {
  padding: 6px 12px 7px 12px;
  border-radius: 200px;
  border: 1px solid #1b5b31;
  background-color: #1b5b31;
  color: #ffffff;
}
.footer__bottom {
  width: 100%;
  margin-top: 2em;
}
.footer__bottom-info--logo {
  width: 6rem;
  height: 2rem;
}
.footer .line {
  margin: 2em 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}

.project {
  background-color: #dcc1ab;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  padding-bottom: 2em;
  position: relative;
}
.project__container {
  width: 100%;
  display: flex;
}
.project__container-button {
  margin: 0 auto;
  padding: 6px 6px 7px 12px;
  border-radius: 200px;
  border: 1px solid #000000;
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  z-index: 2;
}
.project .shadow {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(220, 193, 171, 0.753) 73%, rgba(220, 193, 171, 0) 100%);
  z-index: 1;
}/*# sourceMappingURL=main.css.map */