@media (max-width: 576px) {
  .nav__desktop {
    display: none;
  }
}
@media (min-width: 576px) {
  .burger-btn {
    display: none;
  }
  .nav {
    display: none;
  }
  .nav__desktop {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #ffffff;
    z-index: 100;
    padding: 1.2em;
  }
  .nav__desktop-logo {
    margin-left: 5em;
  }
  .nav__desktop-logo p {
    margin-bottom: 0;
  }
  .nav__desktop-item {
    display: flex;
    align-items: center;
    margin: 0.8em;
    list-style: none;
    color: black;
    font-size: 1em;
  }
  .nav__desktop-item a {
    transition: 0.3s;
  }
  .nav__desktop-item a:hover {
    color: #1b5b31;
  }
  .nav__desktop-item .menu {
    display: inline-block;
    line-height: 50px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 100;
  }
  .nav__desktop-item .menu__dropdown {
    list-style: none;
    position: absolute;
    width: 150px;
  }
  .nav__desktop-item .menu__dropdown-list {
    display: none;
    opacity: 0;
    text-align: center;
    transition: 0.3s;
    border-radius: 15px;
  }
  .nav__desktop-item .menu__dropdown-list:hover, .nav__desktop-item .menu__dropdown-list:active {
    color: black;
    background-color: rgba(27, 91, 49, 0.7333333333);
  }
  .nav__desktop-item .menu:hover {
    color: #000000;
  }
  .nav__desktop-item .menu:hover .menu__dropdown-list {
    display: block;
    animation: menuDesktop 0.5s forwards;
  }
  .nav__desktop-item .menu:hover .menu__dropdown-list:nth-child(2) {
    animation-delay: 0.2s;
  }
  .nav__desktop-item .menu:hover .menu__dropdown-list:nth-child(3) {
    animation-delay: 0.3s;
  }
}
@media (min-width: 720px) {
  .nav__desktop-item {
    font-size: 1.2em;
    margin: 0.5em 1.1em;
  }
  .nav__desktop-item--lists {
    font-size: 1.2em;
    margin: 0.5em 1.1em;
  }
}
@media (min-width: 1140px) {
  .nav__desktop-item {
    font-size: 1.4em;
    margin: 0.5em 2em;
  }
  .nav__desktop-item--lists {
    font-size: 1.4em;
    margin: 0.5em 2em;
  }
}
@media (min-width: 1600px) {
  .nav__desktop-item {
    font-size: 1.4em;
    margin: 0.5em 4em;
  }
  .nav__desktop-item--lists {
    font-size: 1.4em;
    margin-right: 4em;
  }
}
@media (min-width: 576px) {
  .header {
    height: 100vh;
  }
  .header__top {
    height: 100vh;
  }
  .header__top-container--title {
    font-size: 3.5em;
  }
  .header__top-container--description {
    font-size: 1.4em;
  }
  .header__top-button {
    font-size: 1.2em;
  }
  .header__top button {
    padding: 10px 10px 10px 10px;
  }
  .header__bottom {
    height: 100vh;
    background-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    padding-right: 2em;
  }
}
@media (min-width: 1140px) {
  .header__top {
    margin: 0 5em;
  }
  .header__top-container--title {
    font-size: 4em;
  }
  .header__top-container--description {
    font-size: 2em;
  }
  .header__top-button {
    font-size: 1.5em;
  }
  .header__top button {
    padding: 12px 18px 12px 18px;
  }
  .header__bottom {
    background-image: url(../assets/garden_large.jpg);
  }
}
@media (min-width: 1600px) {
  .header__top {
    margin: 0 0 0 9em;
  }
  .header__top-container--title {
    font-size: 7em;
  }
  .header__top-button {
    font-size: 1.8em;
  }
}
@media (min-width: 720px) {
  .offer__top {
    width: 65%;
    padding-left: 10em;
  }
  .offer__top-offer {
    font-size: 1.1em;
  }
  .offer__top-description {
    font-size: 1.5em !important;
  }
  .offer__bottom-box i {
    font-size: 2em;
  }
  .offer__bottom-box h3 {
    font-size: 2em;
  }
  .offer__bottom-box span {
    font-size: 1.5em;
  }
  .offer__bottom-box a {
    font-size: 1.5em;
  }
}
@media (min-width: 1140px) {
  .offer__top {
    padding-left: 15em;
  }
  .offer__top-offer {
    font-size: 2em;
  }
  .offer__top-title {
    font-size: 4em !important;
  }
  .offer__top-description {
    font-size: 1.5em !important;
  }
}
@media (min-width: 1600px) {
  .offer__top {
    padding-left: 40em;
  }
  .offer__bottom-box {
    padding: 5em;
    margin: 0;
  }
  .offer__bottom-box i {
    font-size: 2.5em;
  }
  .offer__bottom-box h3 {
    font-size: 2.5em;
  }
  .offer__bottom-box span {
    font-size: 1.7em;
  }
  .offer__bottom-box a {
    font-size: 2em;
  }
}
@media (min-width: 576px) {
  .aboutus {
    height: 88vh;
  }
  .aboutus__top {
    height: 88vh;
  }
  .aboutus__top-container-offer {
    font-size: 1.2em;
  }
  .aboutus__top-container--title {
    font-size: 3.5em;
  }
  .aboutus__top-container--description {
    font-size: 1.4em;
  }
  .aboutus__top-button {
    font-size: 1.3em;
  }
  .aboutus__top button {
    padding: 10px 10px 10px 10px;
  }
  .aboutus__bottom {
    height: 88vh;
    background-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    background-image: url("../assets//china_large.jpg");
  }
}
@media (min-width: 1140px) {
  .aboutus__top-container-offer {
    font-size: 1.5em;
  }
  .aboutus__top-container--title {
    font-size: 4em;
  }
  .aboutus__top-container--description {
    font-size: 2em;
  }
  .aboutus__top-button {
    font-size: 1.5em;
  }
  .aboutus__top button {
    padding: 12px 18px 12px 18px;
  }
  .aboutus__bottom {
    background-image: url("../assets//china_large.jpg");
  }
}
@media (min-width: 1600px) {
  .aboutus__top-container-offer {
    font-size: 2em;
  }
  .aboutus__top-container--title {
    font-size: 7em;
  }
  .aboutus__top-button {
    font-size: 1.8em;
  }
}
@media (min-width: 576px) {
  .project__top {
    padding: 5em 0 4em 11em;
  }
  .project__top-project {
    font-size: 1em;
  }
  .project__top-title {
    font-size: 3em !important;
  }
  .project__container {
    padding-bottom: 5em;
  }
  .project__container-button {
    padding: 12px 18px 12px 18px;
    font-size: 1.4em;
  }
}
@media (min-width: 1140px) {
  .project__top {
    padding: 12em 0 8em 20em;
  }
  .project__top-project {
    font-size: 1.5em;
  }
  .project__top-title {
    font-size: 5em !important;
  }
  .project__container {
    padding-bottom: 10em;
  }
  .project__container-button {
    padding: 12px 25px 12px 25px;
    font-size: 2em;
  }
}
@media (min-width: 765px) {
  .banner__top {
    padding: 0 5em;
  }
  .banner__top-container--flex {
    margin: 0 0 0 3.8em;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1110px) {
  .banner {
    padding: 5em !important;
    margin: 5em 15em;
  }
  .banner__top-container {
    width: 100%;
  }
  .banner__top-container--title {
    font-size: 3.6em !important;
  }
  .banner__top-container--flex {
    display: flex;
    justify-content: end;
    width: 350px;
  }
  .banner__top-container--description {
    font-size: 2.8em !important;
  }
  .banner__top button {
    font-size: 1.8em !important;
  }
}
@media (min-width: 1600px) {
  .banner__top-button button {
    padding: 14px 35px 14px 35px;
  }
  .banner__top-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner__top-container--flex {
    margin-left: 15em;
  }
  .banner__top-container--description {
    font-size: 2em !important;
    margin-bottom: 1em;
  }
}
@media (min-width: 576px) {
  .footer__top {
    margin: 3em 5em;
  }
  .footer__top-container {
    padding: 3em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer__top-container--flex {
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
  }
  .footer__top-container--title {
    margin-bottom: 0;
  }
  .footer__top-container--description {
    margin-right: 2em;
    margin-bottom: 0;
    font-size: 1.2em;
  }
}
@media (min-width: 765px) {
  .footer__top {
    margin: 0em 12em;
  }
  .footer__top-container--description {
    font-size: 1.2em;
  }
  .footer__bottom-contact {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 100%;
  }
  .footer__bottom-contact--link a {
    margin: 0 2em 0 0;
  }
  .footer__bottom-contact--data span {
    margin: 0 0 0 2em;
    font-size: 1.2em;
  }
  .footer__bottom-contact--link a {
    font-size: 1.1em;
  }
  .footer__bottom-info {
    padding-top: 9em;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    font-size: 1.1em;
  }
}
@media (min-width: 1110px) {
  .footer__top {
    padding: 0 12em 4em 12em;
  }
  .footer__top-container--flex {
    padding: 12px 18px 12px 18px;
  }
  .footer__top-container--flex button {
    padding: 12px 11px 12px 11px;
  }
  .footer__top-container--title {
    font-size: 2em !important;
  }
  .footer__top-container--description {
    font-size: 1.2em;
  }
  .footer__bottom-contact--link a {
    margin: 0 2em 0 0;
  }
  .footer__bottom-contact--data span {
    margin: 0 0 0 2em;
    font-size: 1.4em;
  }
  .footer__bottom-contact--link a {
    font-size: 1.4em;
  }
  .footer__bottom-info {
    font-size: 1.4em;
  }
  .footer__bottom-info img {
    width: 100px;
    height: 40px;
  }
}
@media (min-width: 1600px) {
  .footer__top-container--flex {
    font-size: 1.6em;
    padding: 12px 18px 12px 18px;
  }
  .footer__top-container--flex button {
    padding: 16px 15px 16px 15px;
  }
}/*# sourceMappingURL=mediaQueries.css.map */