@media (max-width: 576px) {
  .nav__desktop {
    display: none;
  }
}

///nav

@media (min-width: 576px) {
  .burger-btn {
    display: none;
  }
  .nav {
    display: none;
  }
  .nav__desktop {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #ffffff;
    z-index: 100;
    padding: 1.2em;
    &-logo {
      margin-left: 5em;
      p {
        margin-bottom: 0;
      }
    }
    &-item {
      display: flex;
      align-items: center;
      margin: 0.8em;
      list-style: none;
      color: black;
      font-size: 1em;
      a {
        transition: 0.3s;
      }
      a:hover {
        color: #1b5b31;
      }
      .menu {
        display: inline-block;
        line-height: 50px;
        cursor: pointer;
        transition: 0.3s;
        z-index: 100;
        &__dropdown {
          list-style: none;
          position: absolute;
          width: 150px;
          &-list {
            display: none;
            opacity: 0;
            text-align: center;
            transition: 0.3s;
            border-radius: 15px;
          }
          &-list:hover,
          &-list:active {
            color: black;
            background-color: #1b5b31bb;
          }
        }
      }
      .menu:hover {
        color: #000000;
      }
      .menu:hover .menu__dropdown-list {
        display: block;
        animation: menuDesktop 0.5s forwards;
      }
      .menu:hover .menu__dropdown-list:nth-child(2) {
        animation-delay: 0.2s;
      }
      .menu:hover .menu__dropdown-list:nth-child(3) {
        animation-delay: 0.3s;
      }
    }
  }
}
@media (min-width: 720px) {
  .nav__desktop {
    &-item {
      font-size: 1.2em;
      margin: 0.5em 1.1em;
      &--lists {
        font-size: 1.2em;
        margin: 0.5em 1.1em;
      }
    }
  }
}
@media (min-width: 1140px) {
  .nav__desktop {
    &-item {
      font-size: 1.4em;
      margin: 0.5em 2em;
      &--lists {
        font-size: 1.4em;
        margin: 0.5em 2em;
      }
    }
  }
}
@media (min-width: 1600px) {
  .nav__desktop {
    &-item {
      font-size: 1.4em;
      margin: 0.5em 4em;
      &--lists {
        font-size: 1.4em;
        margin-right: 4em;
      }
    }
  }
}

/// header

@media (min-width: 576px) {
  .header {
    height: 100vh;
    &__top {
      height: 100vh;
      &-container {
        &--title {
          font-size: 3.5em;
        }
        &--description {
          font-size: 1.4em;
        }
      }
      &-button {
        font-size: 1.3em;
      }
      button {
        padding: 10px 10px 10px 10px;
      }
    }
    &__bottom {
      height: 100vh;
      background-position: center;
      object-fit: cover;
      padding-right: 2em;
    }
  }
}
@media (min-width: 1140px) {
  .header {
    &__top {
      margin: 0 5em;
      &-container {
        &--title {
          font-size: 4em;
        }
        &--description {
          font-size: 2em;
        }
      }
      &-button {
        font-size: 1.5em;
      }
      button {
        padding: 12px 18px 12px 18px;
      }
    }
    &__bottom {
      background-image: url(../assets/garden_large.jpg);
    }
  }
}

@media (min-width: 1600px) {
  .header {
    &__top {
      margin: 0 0 0 9em;
      &-container {
        &--title {
          font-size: 7em;
        }
      }
      &-button {
        font-size: 1.8em;
      }
    }
  }
}

/// offer

@media (min-width: 720px) {
  .offer {
    &__top {
      width: 65%;
      padding-left: 10em;
      &-offer {
        font-size: 1.1em;
      }
      &-description {
        font-size: 1.5em !important;
      }
    }

    &__bottom {
      &-box {
        h3 {
          font-size: 2em;
        }
        span {
          font-size: 1.5em;
        }
        a {
          font-size: 1.5em;
        }
      }
    }
  }
}

@media (min-width: 1140px) {
  .offer__top {
    padding-left: 15em;
    &-offer {
      font-size: 2em;
    }
    &-title {
      font-size: 4em !important;
    }
    &-description {
      font-size: 1.5em !important;
    }
  }
}
@media (min-width: 1600px) {
  .offer {
    &__top {
      padding-left: 40em;
    }
    &__bottom {
      &-box {
        padding: 5em;
        margin: 0;
        h3 {
          font-size: 2.5em;
        }
        span {
          font-size: 1.7em;
        }
        a {
          font-size: 2em;
        }
      }
    }
  }
}

/// aboutus

@media (min-width: 576px) {
  .aboutus {
    height: 88vh;
    &__top {
      height: 88vh;

      &-container {
        &-offer {
          font-size: 1.2em;
        }
        &--title {
          font-size: 3.5em;
        }
        &--description {
          font-size: 1.4em;
        }
      }
      &-button {
        font-size: 1.3em;
      }
      button {
        padding: 10px 10px 10px 10px;
      }
    }
    &__bottom {
      height: 88vh;
      background-position: center;
      object-fit: cover;
      background-image: url("../assets//china_large.jpg");
    }
  }
}
@media (min-width: 1140px) {
  .aboutus {
    &__top {
      &-container {
        &-offer {
          font-size: 1.5em;
        }
        &--title {
          font-size: 4em;
        }
        &--description {
          font-size: 2em;
        }
      }
      &-button {
        font-size: 1.5em;
      }
      button {
        padding: 12px 18px 12px 18px;
      }
    }
    &__bottom {
      background-image: url("../assets//china_large.jpg");
    }
  }
}

@media (min-width: 1600px) {
  .aboutus {
    &__top {
      &-container {
        &-offer {
          font-size: 2em;
        }
        &--title {
          font-size: 7em;
        }
      }
      &-button {
        font-size: 1.8em;
      }
    }
  }
}
// mansory/project

@media (min-width: 576px) {
  .project {
    &__top {
      padding: 5em 0 4em 11em;
      &-project {
        font-size: 1em;
      }
      &-title {
        font-size: 3em !important;
      }
    }
    &__container {
      padding-bottom: 5em;
      &-button {
        padding: 12px 18px 12px 18px;
        font-size: 1.4em;
      }
    }
  }
}
@media (min-width: 1140px) {
  .project {
    &__top {
      padding: 12em 0 8em 20em;
      &-project {
        font-size: 1.5em;
      }
      &-title {
        font-size: 5em !important;
      }
    }
    &__container {
      padding-bottom: 10em;
      &-button {
        padding: 12px 25px 12px 25px;
        font-size: 2em;
      }
    }
  }
}

//banner

@media (min-width: 576px) {
}
@media (min-width: 765px) {
  .banner {
    &__top {
      padding: 0 5em;
      &-container {
        &--flex {
          margin: 0 0 0 3.8em;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

@media (min-width: 1110px) {
  .banner {
    padding: 5em !important;
    margin: 5em 15em;
    &__top {
      &-container {
        width: 100%;
        &--title {
          font-size: 3.6em !important;
        }
        &--flex {
          display: flex;
          justify-content: end;
          width: 350px;
        }
        &--description {
          font-size: 2.8em !important;
        }
      }
      button {
        font-size: 1.8em !important;
      }
    }
  }
}
@media (min-width: 1600px) {
  .banner {
    &__top {
      &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        &--flex {
          margin-left: 15em;
        }
      }
    }
  }
}
//footer

@media (min-width: 576px) {
  .footer {
    &__top {
      margin: 3em 5em;
      &-container {
        padding: 3em 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &--flex {
          flex-direction: row !important;
          justify-content: center;
          align-items: center;
        }
        &--title {
          margin-bottom: 0;
        }
        &--description {
          margin-right: 2em;
          margin-bottom: 0;
          font-size: 1.2em;
        }
      }
    }
  }
}
@media (min-width: 765px) {
  .footer {
    &__top {
      margin: 0em 12em;
      &-container {
        &--description {
          font-size: 1.2em;
        }
      }
    }
    &__bottom {
      &-contact {
        display: flex;
        flex-direction: row !important;
        justify-content: space-between !important;
        width: 100%;
        &--link {
          a {
            margin: 0 2em 0 0;
          }
        }
        &--data {
          span {
            margin: 0 0 0 2em;
            font-size: 1.2em;
          }
        }
        &--link {
          a {
            font-size: 1.1em;
          }
        }
      }
      &-info {
        padding-top: 9em;
        display: flex;
        flex-direction: row !important;
        justify-content: space-between !important;
        font-size: 1.1em;
      }
    }
  }
}

@media (min-width: 1110px) {
  .footer {
    &__top {
      padding: 0 12em 4em 12em;
      &-container {
        &--title {
          font-size: 2em !important;
        }
        &--description {
          font-size: 1.2em;
        }
      }
    }
    &__bottom {
      &-contact {
        &--link {
          a {
            margin: 0 2em 0 0;
          }
        }
        &--data {
          span {
            margin: 0 0 0 2em;
            font-size: 1.4em;
          }
        }
        &--link {
          a {
            font-size: 1.4em;
            color: #ffffff;
            transition: color 0.3s;
            cursor: pointer;
          }
          a:hover {
            color: #1b5b31;
          }
        }
      }
      &-info {
        font-size: 1.4em;
        img {
          width: 100px;
          height: 40px;
        }
      }
    }
  }
}
@media (min-width: 1600px) {
  .footer {
    &__top {
      &-container {
        &--flex {
          font-size: 1.6em;
          padding: 12px 18px 12px 18px;
        }
      }
    }
  }
}
